* { padding: 0;
    margin: 0;
    box-sizing: border-box;



}

body{

    display: flex;
    justify-content: center;
align-items: center;
    width: 100%;
    height: 100%;
    background: #000;;
 height: 100vh;


}

.card{
position: relative;


}


.little-circle{

    margin-left: -95px;
    margin-bottom: -30%;
    width: 277px;
    height: 277px;
    transform: rotate(90deg);
border-radius: 50%;
background: var(--Google-Blue, #4285F4);
}

.plastic-card{
    position: absolute;
    z-index: 1;
    width:660px; 
height:412px; 
transform: rotate();
border-radius: 40px;
border: 2px solid #FFF;

background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
padding: 40px;
backdrop-filter: blur(21px);
}

.plastic-card>img{
margin-left:480px;


}



.plastic-card-title{
    margin-top: 194px;
display: flex;
justify-content: space-between;
align-items: center;
color: #F1F1F1;

font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 20px;
}


.plastic-card>p{
    margin-top: 16px;
    color: #F1F1F1;

    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    letter-spacing: 4.8px;


}









.circle{
    margin-top: 50%;
margin-left: 99%;

    width: 420px;
    height: 420px;
    transform: rotate(90deg);
    border-radius: 420px;
background: var(--Google-Blue, #4285F4);


}